body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}
body.dark-mode {
    background-color: #333;
    color: #ffffff;
}

.toggle-button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    user-select: none;
}

body.dark-mode .toggle-button {
    background-color: #ddd;
    color: #333;
}

td {
    padding: 0;
    position: relative;
    border-radius: 5px;
}

.info {
    color:lightgray
}

.link {
    display: block;
    color:#000;
    font-weight: bold;
    text-decoration: underline;
    height: 100%;
    padding: 8px 5px;
}

.file-explorer {
    width: 80%;
    margin: 50px auto;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.file-explorer th, .file-explorer td {
    padding: 8px 5px;
    border-radius: 5px;
    text-align: block;
    vertical-align: middle;
    
}

.file-explorer th {
    background-color: #bbb;
    color: #000;
    font-weight: bold;
    
}

.file-explorer td {
    background-color: #eee;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.file-explorer tr:hover td {
    transition: 0.5s;
    background-color: #fff;
    
}
